policy_module(bitstock, 1.100.1)

########################################
#
# Declarations
#

type bitstock_t;
type bitstock_exec_t;
init_daemon_domain(bitstock_t, bitstock_exec_t)

permissive bitstock_t;

type bitstock_initrc_exec_t;
init_script_file(bitstock_initrc_exec_t)

type bitstock_conf_t;
files_type(bitstock_conf_t)

type bitstock_var_lib_t;
files_type(bitstock_var_lib_t)

type bitstock_var_run_t;
files_type(bitstock_var_run_t)

type bitstock_port_t;
corenet_port(bitstock_port_t)

########################################
#
# bitstock local policy
#
allow bitstock_t self:process { fork };

allow bitstock_t self:fifo_file rw_fifo_file_perms;
allow bitstock_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bitstock_t, bitstock_conf_t, bitstock_conf_t)
manage_files_pattern(bitstock_t, bitstock_conf_t, bitstock_conf_t)

manage_dirs_pattern(bitstock_t, bitstock_var_lib_t, bitstock_var_lib_t)
manage_files_pattern(bitstock_t, bitstock_var_lib_t, bitstock_var_lib_t)
files_var_lib_filetrans(bitstock_t, bitstock_var_lib_t, { dir file })

manage_dirs_pattern(bitstock_t, bitstock_var_run_t, bitstock_var_run_t)
manage_files_pattern(bitstock_t, bitstock_var_run_t, bitstock_var_run_t)

sysnet_dns_name_resolve(bitstock_t)
corenet_all_recvfrom_unlabeled(bitstock_t)

allow bitstock_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bitstock_t)
corenet_tcp_sendrecv_generic_node(bitstock_t)
corenet_tcp_sendrecv_all_ports(bitstock_t)
corenet_tcp_bind_generic_node(bitstock_t)

gen_require(`
    type bitstock_port_t;
')
allow bitstock_t bitstock_port_t:tcp_socket name_bind;

gen_require(`
    type bitstock_port_t;
')
allow bitstock_t bitstock_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bitstock_t)

files_read_etc_files(bitstock_t)

miscfiles_read_localization(bitstock_t)

sysnet_dns_name_resolve(bitstock_t)

allow bitstock_t bitstock_exec_t:file execute_no_trans;
allow bitstock_t self:process setsched;
corecmd_exec_ls(bitstock_t)
corenet_tcp_connect_http_port(bitstock_t)
dev_read_urand(bitstock_t)
fs_getattr_xattr_fs(bitstock_t)
kernel_read_system_state(bitstock_t)
