# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bitstock Core
Comment=Bitstock Core QT test network
GenericName=Bitstock Digital Currency QT client testnet network
Exec=bitstock-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitstock_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;bitstock;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=bitstock-qt_testnet.desktop
